<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaUniverse.Comun" version="1.0.7" targetFramework="net461" />
  <package id="DeltaUniverse.DeltaCache" version="1.0.3" targetFramework="net461" />
  <package id="DeltaUniverse.DeltaControl" version="1.0.7" targetFramework="net461" />
  <package id="DeltaUniverse.DeltaPersistencia" version="1.0.8" targetFramework="net461" />
  <package id="DeltaUniverse.Modelos" version="1.0.7" targetFramework="net461" />
  <package id="jint" version="2.10.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Telerik.DataAccess.Core" version="2015.3.926.1" targetFramework="net461" />
</packages>